html, body {
    position: relative;
    height: 100%;
}

*{
    box-sizing:border-box;
}

body {
background: #eee;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color:#000;
margin: 0;
padding: 0;
}

body.hidex{
    overflow:hidden;
}

.swiper-container {
width: 100%;
height: 100%;
}
.swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;

/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
flex-direction:column;
}

/* style */
.sw_wrap{
    height:300px;
    padding:30px 0;
    transition:.3s;
}
.swiper-slide{
    background-size:cover;
    border-radius:10px;
    overflow:hidden;
    cursor: pointer;
}
.swiper-slide .tit{
    color:#fff;
    padding:30px;
}


/* wide motion */
.sw_wrap.widemotion{
    padding:0;
    height:200px;
}
.sw_wrap.widemotion .swiper-container{
    overflow:visible;
}
.sw_wrap.widemotion .swiper-wrapper{
    padding:0;
    /* transition:1s !important; */
    transition: 1s cubic-bezier(0.18, 0.90, 0.30, 1.05) !important;
}

.sw_wrap.widemotion .swiper-slide{
    overflow:visible;
    border-radius:0;
    /* justify-content:flex-start;
    align-items:flex-start; */
    cursor: inherit;
}

.sw_wrap.widemotion .swiper-slide .tit{
    font-size:2rem;
    text-transform:uppercase;
    color:rgba(255,255,255,.8);
}


/* wheel smooth move */
.swiper-wrapper.wheel{
    transition:transform .2s !important;
    transition-timing-function: ease !important;
}


.close {
    width: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    display: none;
    top: 130px;
    left:0;
    right:0;
    margin:auto;
    z-index: 99999;
    text-indent: -999em;
    border-radius:50%;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
  }
  
  .close:after{
    content:'';
    width:20px;
    height:2px;
    background-color: #fff;
    position: absolute;
    top:18px;
    left:9px;
    transform:rotate(45deg);
  }
  
  .close:before{
    content:'';
    width:20px;
    height:2px;
    background-color: #fff;
    position: absolute;
    top:18px;
    left:9px;
    transform:rotate(-45deg);
  }
  
.contbox{
    position: absolute;
    display:none;
    width:90%;
    height:70vh;
    top:150px;
    left:0;
    right:0;
    margin:auto;
    font-size:.9em;
    color:#777;
    background: rgba(255,255,255,.9);
    text-align:justify;
}

.content{
    padding:30px;
}

.nano .cont{
    padding:20px;
}

.nano {  width: calc(100% - 50px); height:calc(100% - 80px); margin:40px auto; }
.nano > .nano-content { padding: 0 20px; -webkit-overflow-scrolling: touch; }
.nano > .nano-pane   { background: #888; }
.nano > .nano-pane > .nano-slider { background: #111; }