@charset "utf-8";


html, body {
	position: relative;
	height: 100%;
	margin:0;
	padding:0;
}

* {
  box-sizing: border-box;
}

body, input, select, div, textarea, table, button {font-family: 'NanumSquare', sans-serif !important;}

.wrapper{position:relative;height:100%; width:100%; padding:50px;  background:linear-gradient(45deg, #fff,#eee); }
.container{position:relative;width:1024px; min-height:600px; padding:50px; margin:0 auto;  box-shadow:10px 10px 40px rgba(0,0,0,.1);  }


/*--------------------
cardbox
--------------------*/
.cardbox {
  display: flex;
  flex-wrap:wrap;
  padding: 8px 18px;
}
.cardbox .card {
  width:200px;
  margin:10px;
  border-radius:5px;
  cursor: pointer;
  transition:.3s;
  box-shadow:10px 10px 70px 10px rgba(0,0,0,.2);
}

.cardbox .card:hover{
  /* transform:scale(1.05); */
}
.cardbox .card .poster {
  width: 100%;
  margin-bottom: 20px;
}
.cardbox .card .poster.active {
  opacity: 0;
}
.cardbox .card .title {
  color: #525661;
  margin-bottom: 4px;
  font-size: 22px;
  padding:20px 20px 0 20px;
}
.cardbox .card .info {
  font-size: 14px;
  opacity: .8;
  padding:5px 20px 20px;
}
.cardbox .card .desc {
  display: none;
  
}

.img_wrap{
  width:100%;
  height:250px;
  overflow: hidden;
  border-radius:5px 5px 0 0;
}

.cardbox .card img{
  height:100%;
}

/*--------------------
Detail
--------------------*/
.detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 37px 30px 30px 255px;
  display: none;
}
.detail::before {
  content: '';
  background: #fff;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  position: absolute;
  top: 21px;
  right: 22px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 6px solid #FFF;
  box-sizing: content-box;
  z-index: 10;
}
.detail .close i{
  font-size:35px;
}
.detail .poster {
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -6%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .title,
.detail .info,
.detail .desc,
.detail .play,
.detail .close {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.67, 0.13, 0.1, 0.81);
}
.detail .close {
  display:inline-block;
  width:30px;
  height:30px;
  color:#aaa;
  font-size:30px;
  text-align:right;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.detail .title {
  font-size: 45px;
  font-weight: 300;
  color: #525661;
  margin-bottom: 5px;
}
.detail .info {
  font-size: 13px;
  opacity: 0;
  margin-left: 2px;
  color:#aaa;
}
.detail .desc {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.6;
}
.detail .play {
  background:#ccc;
  border: none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  padding: 8px 17px;
  margin: 30px 0 0 -2px;
  text-transform: uppercase;
  z-index: 10;
  outline: none !important;
  cursor: pointer;
  opacity: 0;
}
.detail .play svg {
  vertical-align: middle;
  position: relative;
  top: -2px;
  margin-right: 3px;
}

.detail.ready::before {
  opacity: 1;
}
.detail.ready .info {
  opacity: .8;
}
.detail.ready .poster {
  opacity: 1;
  transition-duration: .5s;
}
.detail.ready .title,
.detail.ready .info,
.detail.ready .desc,
.detail.ready .play,
.detail.ready .close {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  transition-delay: 0s;
  transition-duration: .5s;
}
.detail.ready .title {
  transition-delay: .2s;
}
.detail.ready .info {
  transition-delay: .3s;
}
.detail.ready .desc {
  transition-delay: .4s;
}
.detail.ready .play {
  transition-delay: .5s;
  line-height:23px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:18px;
  padding:10px 30px 10px 20px;
  border-radius:30px;
}
.detail .img_wrap{margin-bottom:-250px;}