@charset "utf-8";

body{
  background: #eee;
}

/* custom form */ 
input[type="radio"]{
  width:20px;
  height:20px;
  font-size:0;
  line-height:0;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  appearance: none;
  -webkit-appearance: none;
}
input[type="checkbox"]{
  width:20px;
  height:20px;
  font-size:0;
  line-height:0;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
  appearance: none; 
  -webkit-appearance: none;
}

.container{
  background: #fff;
  width:300px;
  height:350px;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  box-shadow:5px 5px 10px rgba(0,0,0,.1);
}

.container .inner{
  padding:30px;
}

h1{
  margin-bottom:20px;
  text-transform:uppercase;
  font-weight:bold;
  font-size:20px;
  text-align:center;
}
.form_group{
  position:relative;
  display:block;
  margin-bottom:30px;
}

.form_group.text input{
  position:relative;
  border:none;
  border-bottom:1px solid #ccc;
  height:25px;
  width:100%;
  outline:none;
  transition:.3s;
}

.form_group.text label{
  transition:.3s;
  position:absolute;
  top:0;
  left:0;
  color:#aaa;
  pointer-events:none;
  z-index:1
}
.bar{
  content:'';
  display:inline-block;
  position:absolute;
  z-index:99999;
  bottom:0;
  left:0;
  width:0;
  opacity:0;
  height:2px;
  background:royalblue;
  transition:.3s;
}

.form_group.text input:focus{
  border-color:royalblue;
}

.form_group.text input:focus + label,
.form_group.text input:valid + label{
  transform:translateY(-15px) scale(0.8);
  transform-origin:top left;
  color:royalblue;
}

.form_group.text input:focus ~ .bar{
  width:100%;
  opacity:1;
}

/* radio */
.form_group.radio {
  margin-bottom:10px;
}


.form_group.radio .helper{
  width:19px;
  height:19px;
  display:inline-block;
  border:1px solid #ccc;
  border-radius:50%;
  position:absolute;
  left:0;
  top:0;
}
.form_group.radio label{
  margin-left:30px;
  line-height:1.5;
}
.form_group.radio .helper:after{
  content:'';
  display:inline-block;
  width:1px;
  height:1px;
  background:#fff;
  position:absolute;
  top:9px;
  left:9px;
  border-radius:50%;
  transition:.5s;
}

input[type="radio"]:checked ~ .helper{
  border-color:royalblue;
}
input[type="radio"]:checked ~ .helper:after{
  transform:scale(9);
  background:royalblue;
}

/* checkbox */
.form_group.checkbox{
  margin-bottom:10px;
}

.form_group.checkbox label{
  line-height:1.5;
  margin-left:10px;
}

.form_group.checkbox .helper{
  display:inline-block;
  width:18px;
  height:18px;
  border:1px solid #ccc;
  float:left;
  border-radius:2px;
}
.form_group.checkbox .helper:before,
.form_group.checkbox .helper:after{
  display:inline-block;
  position:absolute;
  top:5px;
  left:4px;
  content:'';
  width:3px;
  height:0;
  background:royalblue;
  transform:rotate(-45deg);
  border-radius:5px;
  transform-origin:top left;
  opacity:0;
  transition:opacity .3s, height 0s linear .3s;
}
.form_group.checkbox .helper:after{
  height:0;
  transform:rotate(-135deg);
  left:12px;
  top:10px;
}

.form_group.checkbox input:checked ~ .helper:before{
  opacity:1;
  height:9px;
  transition:height .2s ease-out;
}
.form_group.checkbox input:checked ~ .helper:after{
  opacity:1;
  height:18px;
  transition:height .2s ease-out;
  transition-delay:.2s;
}