@charset "utf-8";

*{box-sizing:border-box;}

/* notosans KR regular */
@font-face {
  font-family: 'notosansKR';
  font-style: normal;
  font-weight: normal;
  src: url('../font/NotoSans/NotoSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'notosansKRBold';
  font-style: normal;
  font-weight: normal;
  src: url('../font/NotoSans/NotoSans-Bold.woff');
}

@font-face {
  font-family: 'notosansKRLight';
  font-style: normal;
  font-weight: normal;
  src: url('../font/NotoSans/NotoSans-Light.woff');
}

h1 { color: #444; font-size: 1.2em; padding: 14px 2px 12px; margin: 0px; }
h1 em { font-style: normal; color: #999; }
a { color: #888; text-decoration: none; }

html, body {
	position: relative;
	height: 100%;
	margin:0;
	padding:0;
	/* overflow:hidden; */
}
body, input, select, div, textarea, table, button {font-family: 'NanumSquare', sans-serif !important;}
.wrapper{height:100%; width:100%; position:relative; }

.wrap{height:100%;}
.container{position:relative;height:100%;}


/* cursor custom */
*{
  /*cursor:crosshair;*/
    cursor:url('../image/cursor.png') 32 32, auto;
  }
  a{
    cursor:url('../image/cursor_a.png') 32 32, auto;
  }
  
  .swiper-button-next, .swiper-button-prev{
    cursor:url('../image/cursor_a.png') 32 32, auto;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet{
    cursor:url('../image/cursor_a.png') 32 32, auto;
  }

  
/* style */
.app_wrap{
  position: relative;
  padding:20px;
}

.app_wrap .top_area{
  padding-top:10px;
}
.app_wrap .top_area .date{
  color:#8e8e90;
}
.app_wrap .top_area h1{
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -1px;
}

.cards-list{
  height:100%;
}

.cards-list.hidden{
  overflow: hidden;
}

.cards-list * {
  color:#fff;
}

.card-holder {
  box-sizing: content-box;
  margin-bottom: 20px;
}
.card-holder:last-child{
  margin-bottom:0;
}

.card-holder .cate{
  margin-bottom:10px;
  opacity:.7;
}
.card-holder h2{
  font-weight: bold;
  font-size:1.8rem;
}

.card-holder.black *{
  color:#000;
}

body.hidden {
  overflow: hidden;
}

.card {
  box-shadow: 0 0 20px 0 rgba(102, 102, 102, 0.5);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  background: #fff;
  /* transition: all 400ms ease; */
	transition: all 600ms cubic-bezier(0.18, 0.90, 0.30, 1.05);

}
.card .close {
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #555;
  position: fixed;
  right: 10px;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.card .close:after, .card .close:before {
  content: "";
  display: block;
  width: 16px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 5px;
  top: 12px;
}
.card .close:after {
  transform: rotate(45deg);
}
.card .close:before {
  transform: rotate(-45deg);
}
.card.is-open {
  border-radius: 0px !important;
  left: 0px !important;
  top: 0px  !important;
  width: 100%  !important;
  height: 100%  !important;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 9999;
}

.card.is-open .card-article {
  max-height: 100%;
  /* overflow: auto; */
}
.card.is-open .close {
  opacity: 1;
  visibility: visible;
}

.card-head {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card-article {
  max-height: 0;
  overflow: hidden;
}
.card-article article {
  padding: 20px;
}
.card-article article * {
  color:#222;
}





iframe{
  width: 100%;
  height:100%;
}

@media screen and (max-device-width: 480px) {
    #wrapper { position: relative; left: -3%; }
    #shortcuts { display: none; }
}

.credit {
    text-align: center;
}


@media (min-width:600px){
	.wrapper{display:table;}
	.wrap{ display:table-cell; vertical-align:middle;}
	.container{border:1px solid #ddd; box-shadow:10px 10px 40px rgba(0,0,0,.1); width:375px; height:667px; overflow:auto; margin:0 auto; }
}
