@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/****************************/
/* Reset Style              */
/****************************/
@import url("swiper.min.9e664cc6.css");
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button {
  margin: 0;
  padding: 0;
  font-weight: normal; }

body, input, select, div, textarea, table, button {
  font-size: 1rem;
  font-family: 'Noto Sans', sans-serif;
  color: #222; }

table {
  width: 100%;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse; }

option {
  vertical-align: middle;
  padding: 3px 0; }

/* Firefox Fix */
legend {
  display: none;
  visibility: hidden; }

img, fieldset, button {
  vertical-align: middle;
  border: 0; }

ul, ol, li {
  list-style: none; }

em, address {
  font-style: normal; }

input, textarea, button {
  vertical-align: middle; }

/*input*/
input[type=text], input[type=password] {
  background: #ffffff;
  width: 126px;
  height: 17px;
  padding: 4px 0 1px 0;
  color: #454545;
  text-indent: 7px;
  vertical-align: middle;
  border: 1px solid #e0e0e0; }

textarea {
  background: #ffffff;
  width: 100%;
  height: 100px;
  padding: 4px 0 1px 0;
  color: #454545;
  vertical-align: middle;
  border: 1px solid #e0e0e0; }

input[type=text]:hover, input[type=password]:hover, textarea:hover {
  border: 1px solid #89b4d3; }

select {
  border: 1px solid #e0e0e0;
  height: 24px;
  padding: 3px 3px 3px 4px;
  vertical-align: middle;
  line-height: 24px; }

input[type="file"] {
  vertical-align: middle;
  height: 22px;
  width: 80%;
  margin-right: 6px; }

input[type="checkbox"], input[type="radio"] {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  line-height: 13px; }

label {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #454545; }

a:hover, a:active, a:focus {
  text-decoration: none; }

.hide {
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden; }

/****************************/
/* Color item               */
/****************************/
/****************************/
/* Mixin                    */
/****************************/
/****************************/
/* Common Style             */
/****************************/
* {
  box-sizing: border-box; }

body {
  font-size: 1rem; }

body, input, select, div, textarea, table, button {
  color: #222; }

input[type=text], input[type=password], label, button, select, .select_custom .default {
  color: #777; }

#container {
  position: relative;
  padding: 30px; }

section {
  padding-top: 40px;
  margin-bottom: 60px;
  border-top: 1px solid #ccc; }

hr {
  margin: 5px 0;
  border: 0; }

.codeview {
  margin-bottom: 40px; }

.alC {
  text-align: center !important; }

.ml_20 {
  margin-left: 20px; }

/****************************/
/* heading                  */
/****************************/
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1 {
  font-size: 2.8125rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 1.625rem; }

h4 {
  font-size: 1.25rem; }

h5 {
  font-size: 1.125rem; }

h6 {
  font-size: 1rem; }

/****************************/
/* Swiper                   */
/****************************/
.bg_gray {
  background: #eee; }

.swiper-container {
  width: 100%;
  height: 100%; }
  .swiper-container .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column; }

.swiper-button-prev a, .swiper-button-next a {
  display: block;
  width: 100%;
  height: 100%; }

/* swiper color custom - gray */
.swiper-pagination-bullet-active {
  background: #444; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23aaaaaa'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23aaaaaa'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev, .swiper-button-next {
  background-size: 70%; }

/* swiper white */
.swiper-container.white .swiper-pagination-bullet {
  background: #fff; }

.swiper-container.white .swiper-pagination-bullet-active {
  background-color: #fff; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23aaaaaa'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23aaaaaa'%2F%3E%3C%2Fsvg%3E"); }

.swiper-container {
  height: 200px; }
  .swiper-container .swiper-slide {
    background-color: #fff; }

.tabslide {
  position: relative;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background: #fff;
  overflow-x: hidden; }
  .tabslide .swiper-slide {
    width: auto;
    margin: 0 20px; }
    .tabslide .swiper-slide a {
      display: table;
      width: 100%;
      height: 100%;
      padding: 0 5px; }
      .tabslide .swiper-slide a span {
        display: table-cell;
        vertical-align: middle; }
    .tabslide .swiper-slide a.on {
      color: lightsteelblue; }
  .tabslide.flex .swiper-wrapper {
    display: flex; }
  .tabslide.flex .swiper-slide {
    flex-grow: 1; }
  .tabslide .active_line {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 3px;
    background: lightsteelblue;
    left: 0;
    bottom: 5px;
    z-index: 9;
    border-radius: 5px;
    transition: .3s;
    transform-origin: left top; }
  .tabslide .swiper-button-prev,
  .tabslide .swiper-button-next {
    background-size: 100%;
    height: 100%;
    width: 50px;
    top: 0;
    margin: 0;
    transition: 0.3s; }
  .tabslide .swiper-button-prev {
    left: 0; }
  .tabslide .swiper-button-next {
    right: 0;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.2) 30%, transparent); }
  .tabslide .swiper-button-disabled {
    opacity: 0; }

.circle_wrap {
  position: relative; }
  .circle_wrap .circle {
    position: relative;
    height: 50px; }
  .circle_wrap .board {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
    width: 80vw;
    height: 80vw;
    margin: 30px auto;
    border-radius: 50%;
    transition: .7s ease-out; }
    .circle_wrap .board .c_item {
      position: absolute;
      display: inline-block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #ddd;
      text-align: center;
      transition: .1s ease-out; }
      .circle_wrap .board .c_item .ico {
        display: block; }
      .circle_wrap .board .c_item:nth-child(1) {
        top: 30%;
        left: 0; }
      .circle_wrap .board .c_item:nth-child(2) {
        top: 7%;
        left: 15%; }
      .circle_wrap .board .c_item:nth-child(3) {
        top: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .circle_wrap .board .c_item:nth-child(4) {
        top: 7%;
        right: 15%; }
      .circle_wrap .board .c_item:nth-child(5) {
        top: 30%;
        right: 0; }
      .circle_wrap .board .c_item:nth-child(6) {
        bottom: 30%;
        right: 0; }
      .circle_wrap .board .c_item:nth-child(7) {
        bottom: 7%;
        right: 15%; }
      .circle_wrap .board .c_item:nth-child(8) {
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .circle_wrap .board .c_item:nth-child(9) {
        bottom: 7%;
        left: 15%; }
      .circle_wrap .board .c_item:nth-child(10) {
        bottom: 30%;
        left: 0; }

/****************************/
/* media                    */
/****************************/
@media (max-width: 480px) {
  html {
    font-size: 90%;
    transition: 0.3s; } }
